<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <title>Marvin stats</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

  </head>

  <body>

    <ul></ul>
        <li><h2>Отправленные файлы</h2><li/>
        <li><h2>Отправляемые файлы</h2><li/>
        <ul class="list-group">
            {% for file in files %}
                <li class="list-group-item">{{ file }}</li>
            {% endfor %}
        </ul>
    <ul/>

    <script src="{{ url_for('static', filename='js/jquery-1.11.2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

  </body>
</html>
