<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <title>Marvin stats</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

  </head>

  <body>

  <div class="container">
    <h2>Отправленные файлы</h2>
    <h2>Отправляемые файлы</h2>
    <div class="panel panel-default">         
      <table class="table">
        <thead>
          <tr>
            <th>fid</th>
            <th>File Name</th>
            <th>sent</th>
            <th>total size</th>
          </tr>
        </thead>
        <tbody>
          {% for file in files %}
            <tr>
              <th scope="row">1</th>
              <td>{{ file.fid }}</td>
              <td>{{ file.sent }}</td>
              <td>{{ file.total }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  <div/>


    <script src="{{ url_for('static', filename='js/jquery-1.11.2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

  </body>
</html>

