<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <title>Marvin stats</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

  </head>

  <body>

  <div class="container">

    <h2>Отправляемые файлы</h2>

    <div id="sending" class="panel panel-default">
      <table class="table">
        <thead>
          <tr>
            <th>File Name</th>
            <th>Target</th>
            <th>sent</th>
            <th>total size</th>
            <th>progress</th>
          </tr>
        </thead>
        <tbody>
          {% for file in current_files %}
            <tr>

              <td>{{ file.path }}</td>
              <td>{{ file.target }}</td>
              <td>{{ file.sent|sizeof_fmt }}</td>
              <td>{{ file.total|sizeof_fmt }}</td>
              <td>

                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: 0%;">
                    0%
                  </div>
                </div>

              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>


    <h2>Отправленные файлы</h2>

      <div id="sent" class="panel panel-default">
        <table class="table">
          <thead>
            <tr>
              <th>Date</th>
              <th>File Name</th>
              <th>Target</th>
              <th>sent</th>
              <th>total size</th>
            </tr>
          </thead>
          <tbody>
            {% for file in hist_files %}
              {% if file.status == 1 %}
                <tr class="text-success">
                <td>
                  <span class="glyphicon glyphicon-ok" aria-hidden="true"/>
                  {{ file.start_time|datetime }}
                </td>
              {% elif file.status in [4,5] %}
                <tr class="text-danger">
                <td>
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"/>
                  {{ file.start_time|datetime }}
                </td>
              {% else %}
                <tr>
              {% endif %}
                <td>{{ file.start_time|datetime }}</td>
                <td>{{ file.path }}</td>
                <td>{{ file.target }}</td>
                <td>{{ file.sent|sizeof_fmt }}</td>
                <td>{{ file.total|sizeof_fmt }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>


  <div/>


    <script src="{{ url_for('static', filename='js/jquery-1.11.2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript">
      $( document ).ready(function() {

          setInterval(function(){

                  $.ajax({
                      url: '{{ url_for("stats") }}',
                      type: 'GET',
                      success: function(response){
                          $(".container").html(response)
                      },
                  });

          }, 2000);

      });
    </script>

  </body>
</html>

